@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .search {
    min-height: 250px;
    padding: 20px 15px;
  }

  .search-form {
    flex-direction: row;
    max-width: 100%;
  }

  .weatherInput {
    font-size: 14px;
    padding: 14px 18px;
    max-width: 100%;
  }

  .btn-search {
    padding: 0 20px;
    font-size: 14px;
    height: 47px;
  }

  .forecast-container {
    margin-top: 20px;
  }

  .forecast-container .forecast.today .degree .num {
    font-size: 60px;
    margin-right: 15px;
  }

  .forecast-container .forecast.today .degree .forecast-icon img {
    width: 60px !important;
  }

  .forecast-container .forecast.today .forecast-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .forecast-container .forecast .forecast-content {
    padding: 30px 10px 10px;
  }

  div#today {
    flex-direction: column;
  }

  .nav-link.text-light {
    width: 100%;
    margin-bottom: 5px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .search {
    min-height: 200px;
    padding: 15px 10px;
  }

  .search-form {
    flex-direction: column;
    gap: 12px;
  }

  .weatherInput {
    width: 100%;
    padding: 14px 20px;
    font-size: 14px;
  }

  .btn-search {
    width: 20%;
    padding: 12px 17px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    height: 40px;
  }
}
.forecast-container .forecast.today .degree {
  flex-direction: column;
  align-items: flex-start;
}

.forecast-container .forecast.today .degree .num {
  font-size: 90px;
  margin-right: 0;
  margin-bottom: 10px;
}

.forecast-container .forecast.today .degree .forecast-icon {
  margin-bottom: 10px;
}

.forecast-container .forecast.today span {
  display: inline-block;
  margin-bottom: 8px;
}

.forecast-container .forecast .forecast-content .degree {
  font-size: 20px;
}

.number {
  font-size: 18px;
}

.site-footer {
  padding: 30px 0;
}

.site-footer .subscribe-form input[type="text"] {
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
}

.site-footer .subscribe-form input[type="submit"] {
  position: static;
  width: 100%;
  margin-top: 10px;
}

/* Extra small devices */
@media (max-width: 375px) {
  .forecast-container .forecast.today .degree .num {
    font-size: 40px;
  }

  .forecast-container .forecast.today .location {
    font-size: 16px;
  }
}
